body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:300px;
}
#u12055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:300px;
  display:flex;
}
#u12055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:301px;
}
#u12056 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:0px;
  width:533px;
  height:301px;
  display:flex;
}
#u12056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:300px;
}
#u12057 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:0px;
  width:533px;
  height:300px;
  display:flex;
}
#u12057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u12058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12059 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:152px;
  width:40px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u12059 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:33px;
}
#u12060 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:0px;
  width:533px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u12060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:266px;
}
#u12061 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:33px;
  width:533px;
  height:266px;
  display:flex;
}
#u12061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u12063 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:269px;
  width:26px;
  height:22px;
  display:flex;
}
#u12063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u12064 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:269px;
  width:26px;
  height:22px;
  display:flex;
}
#u12064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u12065 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:269px;
  width:23px;
  height:22px;
  display:flex;
}
#u12065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u12067 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:269px;
  width:26px;
  height:22px;
  display:flex;
}
#u12067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u12068 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:269px;
  width:26px;
  height:22px;
  display:flex;
}
#u12068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u12069 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:269px;
  width:23px;
  height:22px;
  display:flex;
}
#u12069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:300px;
}
#u12070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:533px;
  height:300px;
  display:flex;
}
#u12070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:301px;
}
#u12071 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:300px;
  width:533px;
  height:301px;
  display:flex;
}
#u12071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:300px;
}
#u12072 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:300px;
  width:533px;
  height:300px;
  display:flex;
}
#u12072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:533px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u12073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12074 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:451px;
  width:40px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u12074 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u12076 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:568px;
  width:26px;
  height:22px;
  display:flex;
}
#u12076 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u12077 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:568px;
  width:26px;
  height:22px;
  display:flex;
}
#u12077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u12078 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:568px;
  width:23px;
  height:22px;
  display:flex;
}
#u12078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:300px;
}
#u12079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:533px;
  height:300px;
  display:flex;
}
#u12079 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:300px;
}
#u12080 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:600px;
  width:533px;
  height:300px;
  display:flex;
}
#u12080 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:301px;
}
#u12081 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:599px;
  width:533px;
  height:301px;
  display:flex;
}
#u12081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:533px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u12082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12083 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:751px;
  width:40px;
  height:22px;
  display:flex;
  color:#FFFFFF;
}
#u12083 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12084 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u12085 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:869px;
  width:26px;
  height:22px;
  display:flex;
}
#u12085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u12086 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:869px;
  width:26px;
  height:22px;
  display:flex;
}
#u12086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u12087 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:869px;
  width:23px;
  height:22px;
  display:flex;
}
#u12087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
